<?xml version="1.0"?>
<launch>

  <!-- Start the gazebo world -->
  <include 
    file="$(find robot_control)/launch/gazebo_world.launch">
  </include>

<!-- Loading the robot(s) in gazebo -->

  <include 
    file="$(find robot_control)/launch/load_nextagea_mobile_base.launch">
    <!-- load_nextagea -->
    <!-- load_nextagea_mobile_base -->
    <!-- load_yumi_mobile_base -->

  </include>

</launch>