<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_control)/world/harmony_world.world"/>
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="gui_required" value="true"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="physics" default="ode"/>
        <arg name="output" default="screen"/>
    </include>
</launch>
